body {
    font-family: Arial, sans-serif;
    background-color: #9c72f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.gradient-generator {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradient-preview {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    background: linear-gradient(to right, #3540b6, #a71624);
    margin-bottom: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align horizontally */
}

.controls label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.controls input[type="color"],
.controls select {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px; /* Set a consistent width for the color input and select */
    text-align: center;
}

#css-code {
    width: 400px; /* Increased width of the textarea for longer gradient code */
    padding: 10px;
    height: 80px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: 'Courier New', Courier, monospace; /* Use monospace for code readability */
    color: white; /* Text color for better contrast */
    background: linear-gradient(to right, #071183, #fd1c32); /* Default gradient */
}



button {
    padding: 10px;
    border: none;
    background-color: #9c72f0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

button:hover {
    background-color: #8360d1;
}
